.PainterHome{
    box-sizing: border-box;
  }
  
  
  h1{
    font-size: 80px;
    margin: 0;
    padding-left: 500px;
    padding-top: 150px;
  }
  
  .Image:hover{
    border: 3px solid black;
  }
  
  .columnPainter {
    float: left;
    width: 30%;
    padding: 20px;
    height: 300px; 
    
  }
  .column2Painter {
    float: left;
    width: 70%;
    padding: 40px;
    height: 300px; 
  }
  
  .rowPainter:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .titlePainter{
    font-weight: bold;
    align-items:center;
    padding-bottom: 20px;
    font-size: 30px;
  
  }
  
  .button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: dimgray;
    margin: 2% auto;
    margin-left: 30%;
    cursor: pointer;
    color: antiquewhite;
    font-size: 15px;
  }
  
  .button:hover{
    background-color: rgb(47, 107, 102);
  }
  
  hr{
    border: 8px solid rgb(97, 95, 95);
  }

  @media screen and (max-width: 1200px) {
    .columnPainter, .column2Painter {
      width: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .columnPainter, .column2Painter {
      width: 100%;
    }
  }